name: Build the default package

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  run:
    strategy:
      fail-fast: false
      matrix:
        system: [ubuntu-latest, ubuntu-24.04-arm] 
    runs-on: ${{ matrix.system }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@v14
        with:
          name: ${{ secrets.CACHIX_NAME }}
          authToken: ${{ secrets.CACHIX_SIGNING_KEY }}

      - name: Free up disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          echo "Disk space after cleanup:"
          df -h

      - name: Build on ${{ matrix.system }}
        run: nix build .
